/* You can add global styles to this file, and also import other style files */
.starter-template
{
    margin-top: 50px;
    padding: 20px;
    border: 1px solid black;
}

.main-div{
    margin-top: 50px;
    padding: 20px;
}

.btn-primary
{
    margin: 20px;
}